@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E0F7FA;
  --foreground: #1a1a1a;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/bg-pattern.png');
  background-repeat: repeat;
  background-size: 256px;
  /* Scale up slightly for visibility */
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: none;
  /* Crisper pixels */
  image-rendering: pixelated;
}

@layer utilities {
  .pixel-borders {
    box-shadow:
      -4px 0 0 0 black,
      4px 0 0 0 black,
      0 -4px 0 0 black,
      0 4px 0 0 black;
  }

  .pixel-corners {
    clip-path: polygon(0px 4px, 4px 4px, 4px 0px,
        calc(100% - 4px) 0px, calc(100% - 4px) 4px, 100% 4px,
        100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%,
        4px 100%, 4px calc(100% - 4px), 0px calc(100% - 4px));
  }
}